{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Home</h2>
      <p>The objective is to develop a web application where drivers can post their travel information and their preferences on carpooling, and riders can request a ride. Conversely, riders can post their travel and drivers can offer a ride. This application will be hosted on a private cloud and will use a server-client model for communication.</p>
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
