{{>header}}

  <title>TruePool CarPool</title>
</head>

<body>
<div class="container">

<a href="../home"><h1>TruePool CarPool</h1></a>
<h2>Front page</h2>
<br />

<form id="login-form">
  <input type="text" class="form-control" id="username" placeholder="Username"/><br />
  <input type="password" class="form-control" id="password" placeholder="Password"/><br />

  <div id="login-err" role="alert"></div><br />

  <input type="submit" class="btn btn-primary" id="login" value="Log In">
  <br />
</form>

<form id="signup-form">
  <h3>Creating an Account</h3>
  <input type="text" class="form-control" id="username-create" placeholder="Username"/><br />
  <input type="password" class="form-control" id="password-create" placeholder="Password"/><br />
  <input type="password" class="form-control" id="password-confirm" placeholder="Password Confirm"/><br />
  <input type="text" class="form-control" id="name" placeholder="Name"/><br />
  <input type="email" class="form-control" id="email-address" placeholder="Email Address"/><br />

  <div id="sign-err" role="alert"></div><br />

  <input type="button" class="btn btn-success" id="sign-submit" value="Submit">
  <input type="reset" class="btn btn-danger" id="login-screen" value="Back to Login"/>
</form>

<br />
<input type="button" class="btn btn-primary" id="sign-form-open-button" value="Sign up">

<br />
<a href="../travel-info"><input type="button" class="btn btn-dark" id="riding-test" value="Travel Info Test"></a>
<a href="../matching"><input type="button" class="btn btn-dark" id="riding-test" value="Matching Test"></a>

</div>
</body>

<script>
  $(document).ready(function() {
    $("#signup-form").hide();
    var errMsg="";
  });

  function validation() {
    var username = $("#username-create").val();
    var password = $("#password-create").val();
    var passwordConfirm = $("#password-confirm").val();
    var name = $("#name").val();
    var emailAddress = $("#email-address").val();

    errMsg=""
    // Coloring reset

    if(username == "" || !username.match(/^[a-zA-z]+$/)) {
      $("#username-create").toggleClass("is-invalid");
      errMsg += "username error<br />";
    }else{
      $("#username-create").toggleClass("is-valid");
    }

    if(password == "" || passwordConfirm == "" || password != passwordConfirm) {
      $("#password-create").toggleClass("is-invalid");
      $("#password-confirm").toggleClass("is-invalid");
      errMsg += "Password error<br />";
    }else{
      $("#password-create").toggleClass("is-valid");
      $("#password-confirm").toggleClass("is-valid");
    }

    if(name == "" || !name.match(/^[a-zA-z]+$/)) {
      $("#name").toggleClass("is-invalid");
      errMsg += "Name error<br />";
    }else{
      $("#name").toggleClass("is-valid");
    }

// Email verification match
    if(emailAddress == "" || !emailAddress.match(/^[a-zA-z]+$/)) {
      $("#email-address").toggleClass("is-invalid");
      errMsg += "Email Address error<br />";
    }else{
      $("#email-address").toggleClass("is-valid");
    }

    if (errMsg != "") {
      $("#sign-err").html(errMsg);
    }else{
      // authentication
    }

  }


  // ====button behaviour====
  // $("#login").click(function(){

  });

  $("#sign-submit").click(function(){
    validation();
  });

  $("#login-screen").click(function(){
    $("#login-form").show();
    $("#signup-form").hide();
    $("#sign-form-open-button").show();
  })

  $("#sign-form-open-button").click(function(){
    $("#login-form").hide();
    $("#signup-form").show();
    $("#sign-form-open-button").hide();
  });

</script>

{{>footer}}
