{{>header}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
    <p>Everthing is evolving so should how we travel. As a driver, we wasted our car seats for nothing. As a rider, we wasted our time to get to a place. Now these are over. You can save the Earth and make money by taking people, or you can relax while somebody drives you to the exact place where you want to be.</p>
      <p>
        Driver test: mem1 / password<br />
        Rider test: mem2 / password<br />
      </p>
      <h2>Login</h2>
      <p style="color:red;"><strong>{{ login_error }}</strong></p>
      <p style="color:green;"><strong>{{ login_ready }}</strong></p>
      <form action="/login/attemptlogin" method="post">
        <input type="text" class="form-control" placeholder="Username" name="username" required autofocus autocomplete="on" pattern="[a-zA-Z0-9_]{0,}" title="Only characters, numbers and underscores are allowed"/><br />
        <input type="password" class="form-control" placeholder="Password" name="password" required />
        <br />
        <input type="submit" class="btn btn-primary" value="Sign in"><br /><br />
        <a href="signup"><input type="button" class="btn btn-secondary" value="Create an account"></a>
      </form> <br />
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
