{{>header}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Going somewhere? </h2>
<h3>Share a ride. 
</h3>

	<p>
        Driver test: mem1 / password<br />
        Rider test: mem2 / password<br />
      </p>
      <h2>Login</h2>
      <p style="color:red;"><strong>{{ login_error }}</strong></p>
      <p style="color:green;"><strong>{{ login_ready }}</strong></p>
      <form action="/login/attemptlogin" method="post">
        <input type="text" class="form-control" placeholder="Username" name="username" required autofocus autocapitalize="off" autocomplete="on" pattern="[a-z0-9_]{0,}" title="Only lowercase characters, numbers and underscores are allowed"/><br />
        <input type="password" class="form-control" placeholder="Password" name="password" required />
        <br />
        <input type="submit" class="btn btn-primary" value="Sign in"><br /><br />
        <a href="signup"><input type="button" class="btn btn-secondary" value="Create an account"></a>
      </form> <br />
    </div>
  </div>

</div>

{{>footer}}
