<!-- <div class="rightcolumn">
  <div class="card">
    <h2>About</h2>
    <p>This web application connects drivers and riders. Drivers can provide carpooling for riders who want to travel around the drivers’ route, and riders can get a ride in a reasonable waiting time.
</p>
  </div>
</div> -->
