{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Create an account</h2>
      <p style="color: red"><strong>{{ signup_error}}</strong></p>
      <form action="/signup/attemptsignup" method="post">

        <input type="text" class="form-control" id="username-create" name="username" placeholder="Username" required autofocus autocapitalize="off" pattern="[a-z0-9_]{0,}" title="Only lowercase characters, numbers and underscores are allowed"/><br />

        <!-- Secure password -->
        <!-- <input type="password" class="form-control" id="password-create" name="password" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Minimum 8 characters long. At least 1 uppercase, 1 lowercase, and 1 number"/><br /> -->

        <!-- Unsecure password (for testing) -->
        <input type="password" class="form-control" id="password-create" name="password" placeholder="Password" required pattern="[a-z0-9_]{0,}" title="Only characters, numbers and underscores are allowed"/><br />
        <input type="password" class="form-control" id="password-confirm" name="passwordConfirm" placeholder="Password Confirm" required/><br />
        <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required pattern="[A-Za-z ]{0,}" title="Only characters and spaces are allowed"/><br />
        <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" required pattern="[A-Za-z ]{0,}" title="Only characters and spaces are allowed"/><br />
        <input type="email" class="form-control" id="email-address" name="email" placeholder="Email Address" required/><br />
        <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Phone Number" required pattern="[0-9]{0,10}" title="Phone number needs to be 10 digits!"/><br />

        <input type="submit" class="btn btn-success" id="sign-submit" value="Submit">
        <a href="/login"><input type="button" class="btn btn-danger" id="login-screen" value="Back"/></a>
      </form>

      </form> <br />
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
