{{>header}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Trip routes</h2>
      <p>This page is for users to request or offer rides</p>
      <p><strong>{{ message }}</strong></p>
      <h3>Route</h3>
      <form action="/members/create" method="post">
        <label for="title">Title:</label>
        <input type="radio" id="offer" name="ridetype" value="offer">
        <label for="ridetype">offer</label><br>
        <input type="radio" id="request" name="gender" value="request">
        <label for="ridetype">request</label><br>

        <div id="startSearchContainer" class="form-group">
          <label for="starLocationSearch">Start Location</label>
          <input name="startingloc" type="text" class="form-control" id='startSearchBox' placeholder="Start Location">
        </div>

        <div id="endSearchContainer" class="form-group">
          <label for="endLocationSearch">End Location</label>
          <input name="endingloc" type="text" class="form-control" id='endSearchBox' placeholder="End Location">
        </div>
        <input value="Submit" type="submit" />
      </form>
      <br />

      <div id="myMap" style="position:relative;width:100%;height:800px;"></div>
    </div>
      <!-- <div> -->
        <!-- <div id="myMap" style="position:relative;width:100%;height:600px;"></div> -->

        <!-- <fieldset style="width:600px;margin-top:10px;"> -->
        <!-- <legend> Map Search use Autosuggest</legend> -->
      <!-- This map use Bing autosuggest as search function -->
        <!-- </fieldset> -->

      <!-- </div> -->
  </div>
</div>
  <script>
    var map;

    function GetMap() {
      map = new Microsoft.Maps.Map('#myMap', {});

      Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function() {
        var locationManager1 = new Microsoft.Maps.AutosuggestManager({
          map: map
        });
        var locationManager2 = new Microsoft.Maps.AutosuggestManager({
          map: map
        });
        locationManager1.attachAutosuggest('#startSearchBox', '#startSearchContainer', suggestionSelected);
        locationManager2.attachAutosuggest('#endSearchBox', '#endSearchContainer', suggestionSelected);
      });
    }

    function suggestionSelected(locationSuggestion) {
      // map.entities.clear();
      map.setView({
        bounds: locationSuggestion.bestView
      });
      var pushpin = new Microsoft.Maps.Pushpin(locationSuggestion.location);
      map.entities.push(pushpin);
      console.log("Lat:" + locationSuggestion.location.latitude);
      console.log("Long:" + locationSuggestion.location.longitude);
    }
  </script>
  <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Aj2GRDYK72ehSn2kZNlHiGmrB2JSs504JcX0hAEBhCdDL1TOpAjouqPKwrgbsKK7' async defer></script>

  {{>footer}}
