{{>header}}

<div class="row">
	<div class="leftcolumn">
		<div class="card">
			{{>notification}}
			<h2>Trip routes</h2>
			<p>This page is for users to request or offer rides</p>
			<p><strong>{{ message }}</strong></p>
			<h3>Route</h3>
			<form action="/travel/submitroute" method="post">

				<!-- This is to decide what ridetype the user is choosing -->
				<label>
					<input type="radio" id="offer" name="ridetype" value="offer"checked>
					<img src="./views/Driver.gif" width="150px" />
				</label>&nbsp;&nbsp;&nbsp;

				<label>
					<input type="radio" id="request" name="ridetype" value="request" >
					<img src="./views/Rider.gif" width="150px" />
				</label><br /><br />

				<div id="startSearchContainer" class="form-group">
					<label for="starLocationSearch">Start Location</label>
					<input name="startingloc" type="text" class="form-control" id='startSearchBox' placeholder="Start Location" required autofocus autocomplete="on" >
				</div>

				<!-- hide this when we go live -->
				
				<label for="startlong">start longitude</label>
				<input id="startlong" name="startlong" type="text"><br>

				<label for="startlat">start latitude</label>
				<input id="startlat" name="startlat" type="text"><br>

				<div id="endSearchContainer" class="form-group">
				<label for="endLocationSearch">End Location</label>
				<input name="endingloc" type="text" class="form-control" id='endSearchBox' placeholder="End Location" required autocomplete="on" >
				</div>
				
				<!-- hide this when we go live -->
				<label for="endlong">End longitude</label>
				<input id="endlong" name="endlong" type="text"><br>

				<label for="endlat">End latitude</label>
				<input id="endlat" name="endlat" type="text"><br>

				<input type="date" id="date" name="date" placeholder="YYYY/MM/DD" required>
				<input type="time" id="time" name="time" required><br /><br />
				<input class="btn btn-primary" value="Submit" type="submit">
			</form>
			<br />

			<div id="myMap" style="position:relative;width:100%;height:800px;"></div>
		</div>
		<!-- <div> -->
		<!-- <div id="myMap" style="position:relative;width:100%;height:600px;"></div> -->

		<!-- <fieldset style="width:600px;margin-top:10px;"> -->
		<!-- <legend> Map Search use Autosuggest</legend> -->
		<!-- This map use Bing autosuggest as search function -->
		<!-- </fieldset> -->

		<!-- </div> -->
	</div>
</div>
<script>
	//console.log(Date());
	n =  new Date();
y = n.getFullYear();
if (n.getMonth()<10)
{
	m2 = "0" + (n.getMonth() + 1);
}
else
{
	m2=n.getMonth();
}

//d = n.getDate();

if (n.getDate()<10)
{
d2 = "0" + (n.getDate());

}

else
{
	d2=(n.getDate());
}

console.log(y);
console.log(m2);
console.log(d2);


if (h=n.getHours()<12)
{

h="0"+(n.getHours());

}
else
{
	h=(n.getHours());
}

if (n.getMinutes() <10)
{
mm="0"+(n.getMinutes());
}

else
{
	mm=(n.getMinutes());
}






	console.log(h);


	 $('#date').val(y + "-" + m2 + "-" + d2);
	  $('#time').val(h+":"+mm);
	var map;

	function GetMap() {
		map = new Microsoft.Maps.Map('#myMap', {});

		Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function() {
			var locationManager1 = new Microsoft.Maps.AutosuggestManager({
				map: map
			});
			var locationManager2 = new Microsoft.Maps.AutosuggestManager({
				map: map
			});
			locationManager1.attachAutosuggest('#startSearchBox', '#startSearchContainer', suggestionSelected);
			locationManager2.attachAutosuggest('#endSearchBox', '#endSearchContainer', suggestionSelectedend);
		});
	}

	function suggestionSelected(locationSuggestion) {
		// map.entities.clear();
		map.setView({
			bounds: locationSuggestion.bestView
		});
		var pushpin = new Microsoft.Maps.Pushpin(locationSuggestion.location);
		map.entities.push(pushpin);
		console.log("Lat:" + locationSuggestion.location.latitude);
		console.log("Long:" + locationSuggestion.location.longitude);
		$('#startlong').val(locationSuggestion.location.longitude);
		$('#startlat').val(locationSuggestion.location.latitude);
	}

	function suggestionSelectedend(locationSuggestion) {
		// map.entities.clear();
		map.setView({
			bounds: locationSuggestion.bestView
		});
		var pushpin = new Microsoft.Maps.Pushpin(locationSuggestion.location);
		map.entities.push(pushpin);
		console.log("eLat:" + locationSuggestion.location.latitude);
		console.log("eLong:" + locationSuggestion.location.longitude);
		$('#endlong').val(locationSuggestion.location.longitude);
		$('#endlat').val(locationSuggestion.location.latitude);
	}
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Aj2GRDYK72ehSn2kZNlHiGmrB2JSs504JcX0hAEBhCdDL1TOpAjouqPKwrgbsKK7' async defer></script>

{{>footer}}
