{{>header}}
<div class="row">
	<div class="leftcolumn">
		<div class="card">

			<p><strong>{{ message }}</strong></p>
			<p><strong>{{ message2 }}</strong></p>
			<p><strong>{{ message3 }}</strong></p>
			<h2>Active Trip Details</h2>
			<p>This page is to create a connection to the application and wait for a successful match.</p>
			<p><strong>Here are your trip details!</strong></p>
			<p>Your User ID: <span id="userid">{{ userid }}</span></p>
			<p>Your Ride ID: <span id="rideid">{{ rideid }}</span></p>
		 <p>You are {{ ridetype }}ing a ride.</p>



		<strong>Start: </strong>{{ startloc }}

		<strong>Destination:</strong> {{ endloc }}

		<h3>When?</h3>
		{{ date }} </br>
		{{ time }}







		 </div>
	</div>
</div>

{{>footer}}

