{{>header}}
<div class="row">
	<div class="leftcolumn">
		<div class="card">
			{{>notification}}
			
			Tee: <span id="question"></span>
			<p><strong>{{ message }}</strong></p>
			<h2>Active Trip Details</h2>
			<p>This page is to create a connection to the application and wait for a successful match.</p>
			<p><strong>Here are your trip details!</strong></p>
			<p>Your Ride ID: {{ rideid }}</p>
		 <p>You are {{ ridetype }}ing a ride.</p>
		<strong>Start: </strong>{{ startloc }}

		<strong>Destination:</strong> {{ endloc }}

		<h3>When?</h3>
		{{ date }} </br>
		{{ time }}







		 </div>
	</div>
</div>

{{>footer}}

 <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	var socket = io();
	 
	  socket.on("deliverquestion", function(ques)
      {
        $("#question").html(ques);
		body = auid.assigneduserID;
      });
</script>